*.pbxuser
*.mode1v3
.LSOverride
mobile/*/build
apps/desktop/java/MedicalServices/bin
apps/desktop/java/MedicalServices/.classpath
apps/desktop/java/MedicalServices/.settings
desktop/java/bin
desktop/java/dat
desktop/java/.settings
desktop/java/.classpath
mobile/tinyos/*/build
mobile/tinyos/*/*.class
mobile/tinyos/*/*.java
