body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
}
a { color: #3b5998 }
a:hover,
a:active { color: #2f6fa7 }
#wrapper {
    margin: 0 auto;
    width: 980px;
}
#wrapper > article {
    margin-bottom: 60px;
    margin-left: 28px;
    margin-top: 40px;
    width: 630px;
}
article header {
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 20px;
}
article header h1 {
    color: #222;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 7px;
}
article header h2 {
    color: #999;
    float: none;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    margin-bottom: 12px;
    width: inherit;
}
article header p {
    color: #999;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
}
article header p a {
    color: #999;
    text-decoration: none;
}
article header p a:hover {
    color: #777;
    text-decoration: underline;
}
p + h1 { margin-bottom: 18px }
article h1 {
    color: #333;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -1;
    line-height: 1;
    margin-bottom: 4px;
    margin-top: 28px;
}
article p {
    display: block;
    margin-bottom: 20px;
}
article p strong { font-weight: bold }
article p + p { margin-top: -10px }
article a.url {
    -moz-border-radius: 6px;
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 6px;
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fdfdfd));
    background-image: -moz-linear-gradient(-90deg, #eee, #fdfdfd);
    border: 2px solid white;
    color: #555;
    display: block;
    font-size: 16px;
    line-height: 1em;
    margin-bottom: 20px;
    padding: 7px 10px;
    text-shadow: 0px 2px 0px white;
}
article p.screenshot img {
    -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
}
article table {
    : ;
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    border: 2px solid #ccc;
    border-collapse: collapse;
    font-size: 13px;
    margin-bottom: 18px;
    text-shadow: 0px 1px 0px white;
    width: 100%;
}
article table ul { padding-left: 20px }
article table li { list-style: square }
article table li strong { font-weight: bold }
article table p { margin-bottom: 4px }
article th {
    background-color: #eee;
    color: #000;
    font-weight: bold;
}
article th,
article td {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    line-height: 1.45em;
    padding: 4px 8px;
}
article tr:nth-child(odd) { background-color: #fbfbfb }
article h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
article h3 { font-weight: bold }

/* ===[ Snippet ]=== */

.snippet {
    margin-bottom: 18px;
    position: relative;
}
.snippet code.expanded {
    -webkit-user-select: auto;
    cursor: text;
    max-height: 700px;
    overflow: auto;
    text-overflow: inherit;
}
.snippet code {
    -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.35);
    -webkit-transition: max-height 1s ease-in-out;
    -webkit-user-select: none;
    background-color: #eee;
    cursor: pointer;
    display: block;
    font-family: Monaco, Consolas, 'Lucida Console', 'Courier New', Courier, serif;
    font-size: 12px;
    line-height: 1.6em;
    margin-left: 21px;
    max-height: 480px;
    min-height: 38px;
    overflow: hidden;
    padding: 10px 20px 11px 28px;
    text-overflow: ellipsis;
    text-shadow: 0px 1px 0px white;
    white-space: nowrap;
}
.snippet code .comment { color: gray }
.snippet code .keyword { color: #4f9fcf }
.snippet code .string,
.snippet code .number { color: #d44950 }
.snippet code .entity { color: #2f6fa7 }
.snippet code .entity .number { color: inherit }
.snippet .tab {
    -webkit-user-select: none;
    background-image: url(/img/snippet-tab-code.png);
    background-repeat: no-repeat;
    height: 53px;
    outline: none;
    position: absolute;
    top: 6px;
    width: 36px;
}

/* ===[ Facebook ]=== */

#facebook-comments { margin-top: 8px }
