Options +Indexes

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|img|pub|css|js|lib|guide|robots\.txt|info\.php|favicon\.ico|apple-touch.icon\.png)
RewriteRule ^(.*)$ /index.php?$1 [L] 
